* {
    margin: 0;
    padding: 0;
    font-family: Ebrima;
}

body {
    background-color: #eaeaea;
}

li {
    list-style: none;
    text-decoration: none;
}

#wrapper {
    width:100%;
}

/********** HEADER **********/

#header:after {
    content:"";
    display: block;
    clear: both;
}

#header {
    background-color:#2c2c2c;
    padding-bottom: 1px;
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#top_nav {
    width:100%;
    background-color:rgba(135, 220, 189, .90);
    border-bottom: 5px solid rgba(89,11,133,.75);
    font-family: CATIA Symbols;
    font-weight: bold;
    padding-bottom:24px;
}

#top_nav:after {
    display: block;
    content:"";
    clear:both;
}

#navlist1 ul {
    margin-top: -2px;
    margin-bottom: -6px;
    padding-top: 20px;
}

#navlist1 ul li {
    display: inline;
}

#navlist1 li a:link {
    color:#fff;
    text-decoration: none;
    list-style: none;
    padding:20px 20px;
}

#navlist1 li a:visited {
    color:#fff;
}

#navlist1 li a:hover {
    color:#fff;
    background-color:rgba(0,0,0,.90);
}

#navlist2 {
    display: none;
}

#search_bar {
    float:right;
    margin-right:20px;
    margin-top: -23px;
    margin-bottom:10px;
    display: none;
}

#search_bar input {
    width: 300px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 3px;
}

#logo {
    margin:40px; 
}

#search {
    margin-left: 5px;
    width:20px;
    float:right;
    margin-top:-25px;
    cursor: pointer;
}

#header_inner_container {
    max-width: 825px;
    margin:0px 0px 40px; 
}

#header_inner_container h1 {
    color:#fff;
    margin: 83px 40px;
    font-size:46px;
    font-weight: bold;
    font-family: Segoe UI;
    text-shadow: 0px 0px 10px #888;
    
}

.page_logo {
    float:left;
}

.title {
    margin-top:80px;
}

.shop_btn {
    border:none;
    text-align: center;
    font-family: CATIA Symbols;
    font-weight: bold;
    margin:40px;
    box-shadow: 0px 0px 25px #528572;
    font-size: 18px;
    background-color:rgba(135, 220, 189, .90);
    opacity: .9;
    padding:10px 0px;
    width:138px;
}

#shop_btn {
}

#shop_btn a:link {
    color:#fff;
    text-decoration: none;
    padding:14px 25px;
    
}

#shop_btn a:visited {
    color:#fff;
    text-decoration: none;
}

#shop_btn a:hover {
    background-color:rgba(0,0,0,.90);
    transition: .5s ease;
    opacity: .9;
}

/********** END HEADER **********/

/********** PRODUCT SECTION **********/

#featured_products {
}


#featured_products:after {
    content: "";
    display: block;
    clear: both;
}

#featured_products_container {
    max-width: 1000px;
    margin:auto;
    padding:40px;
}

#featured_products_container h2 {
    font-family: Ebrima;
    color:#2c2c2c;
    border-bottom:1px solid rgba(0,0,0,.10);
    margin-bottom: 50px;
    padding:0px 0px 30px;
}

#intro_produts {
    width:100%;
    
}

#intro_products ul li {
    display: inline;
    float:left;
    margin-right: 13px;
    margin-bottom: 37px; 
}

#intro_products ul li:first-child {
    margin-left: 0px;
}

#intro_products ul li:last-child {
    margin-right:0;
}


#intro_products a {
    text-decoration: none;
}
.product_box:hover {
    opacity: .4;
    transition: .3s ease;
}

.product_box {
    max-width:200px;
    
}

.product_box img {
    max-width:200px;
    margin:0;
    padding:0;
}

.prod {
    padding:10px 10px 25px;
    background-color:#fff;
    box-shadow: 0px 0px 3px #ccc;
}

.title_price {
    width:100%;
    text-align: center;
    padding:20px 0px;
    margin-top: -10px;
    border-bottom:1px solid #f4f4f4;
    margin-bottom: 5px;
}

.title_price p {
    font-size: 12px;
    color:#333;
    padding:15px 0 0;
}

.product_title, .product_price {
    color:#333;
    font-family: Ebrima;
}

.product_price {
    font-weight: bold;
    display: block;
    margin-top:15px;
}

.add_to_cart_btn {
    text-align: center;
    border:none;
    margin-top:20px;
    width:180px;
    width:100%;
    background:none;
    
}

.buy_btn {
    text-align: center;
    border:none;
    margin-top:30px;
    width:180px;
    width:100%;
    background:none;
}

.add_to_cart_btn a:link, .buy_btn a:link {
    background-color:rgba(135, 220, 189, .90);
    color:#fff;
    text-decoration: none;
    padding:10px 20px;
}

.add_to_cart_btn a:visited, .buy_btn a:visited {
    color:#fff;
    text-decoration: none;
}

.add_to_cart_btn a:hover, .buy_btn a:hover {
    background-color:rgba(0,0,0,.90);
    transition: .3s ease;
    opacity: .9;
}



#shop_btn_02 {
    margin-top: 20px;
    border: none;
    background-color:rgba(135, 220, 189, .90);
    padding:15px 0px;
}

#shop_btn_02 a:link {
    padding:18px 20px;
    color:#fff;
    text-decoration: none;
    
}

#shop_btn_02 a:visited {
    color:#fff;
    text-decoration: none;
}

#shop_btn_02 a:hover {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: .9;
    background-color:rgba(0,0,0,.90);
}

#next {
    margin:0;
    padding:0;
    font-size: 16px;
    border-radius: 100%;
    border:1px solid #fff;
    padding:0px 6px 3px;
    text-align:center;
    margin-left: 5px;
}

#shop_btn_container {
    display: block;
    clear:both;
}

/********** END PRODUCT SECTION **********/

/********** PRODUCT SECTION 2 **********/

#featured_products2 {
    padding: 30px;
}


#featured_products2:after {
    content: "";
    display: block;
    clear: both;
}

#featured_products2_container {
    max-width: 940px;
    margin:auto;
    padding:60px 0px 80px;
}

#featured_products2_container h2 {
    font-family: Ebrima;
    color:#2c2c2c;
    border-bottom:1px solid rgba(0,0,0,.10);
    margin-bottom: 50px;
    padding:0px 0px 5px;
}

#intro_produts2 {
    width:100%;
    
}

#intro_products2 ul li {
    display: inline;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px; 
}

#intro_products2 ul li:first-child {
    margin-left: 0px;
}

#intro_products2 ul li:nth-child(4) {
    margin-right:0;
}

#intro_products2 ul li:nth-child(8) {
    margin-right:0px;
}    

#intro_products2 a {
    text-decoration: none;
}
.product_box:hover {
    opacity: .4;
    transition: .3s ease;
}

.product_box {
    width:200px;
    
}

.product_box img {
    width:200px;
    margin:0;
    padding:0;
}

.prod {
    padding:10px 10px 25px;
    background-color:#fff;
    box-shadow: 0px 0px 3px #ccc;
}

.title_price {
    width:100%;
    text-align: center;
    padding:20px 0px;
    margin-top: -10px;
    border-bottom:1px solid #f4f4f4;
    margin-bottom: 5px;
}

.title_price p {
    font-size: 12px;
    color:#333;
    padding:15px 0 0;
}

.product_title, .product_price {
    color:#333;
    font-family: Ebrima;
}

.product_price {
    font-weight: bold;
    display: block;
    margin-top:15px;
}

.add_to_cart_btn {
    text-align: center;
    border:none;
    margin-top:20px;
    width:180px;
    width:100%;
    background:none;
    
}

.buy_btn {
    text-align: center;
    border:none;
    margin-top:30px;
    width:180px;
    width:100%;
    background:none;
}

.add_to_cart_btn a:link, .buy_btn a:link {
    background-color:rgba(135, 220, 189, .90);
    color:#fff;
    text-decoration: none;
    padding:10px 20px;
}

.add_to_cart_btn a:visited, .buy_btn a:visited {
    color:#fff;
    text-decoration: none;
}

.add_to_cart_btn a:hover, .buy_btn a:hover {
    background-color:rgba(0,0,0,.90);
    transition: .3s ease;
    opacity: .9;
}



#shop_btn_03 {
    display: none;
    margin-top: 20px;
    border: none;
    background-color:rgba(135, 220, 189, .90);
    padding:15px 0px;
}

#shop_btn_03 a:link {
    padding:18px 20px;
    color:#fff;
    text-decoration: none;
    
}

#shop_btn_03 a:visited {
    color:#fff;
    text-decoration: none;
}

#shop_btn_03 a:hover {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: .9;
    background-color:rgba(0,0,0,.90);
}

#next {
    margin:0;
    padding:0;
    font-size: 16px;
    border-radius: 100%;
    border:1px solid #fff;
    padding:0px 6px 3px;
    text-align:center;
    margin-left: 5px;
}

#shop_btn_container {
    display: block;
    clear:both;
}

/********** END PRODUCT SECTION 2 **********/


/********** DELIVERY, MONEY BACK & 24/7 SUPPORT SECTION **********/

#del_mon_sup {
    clear: both;
}


#del_mon_sup_container {
    width:100%;
}

.del_mon_sup_box {
    float:left;
    text-align: center;
    width:33.33%;
    padding:60px 0px;
    color:#fff;
}
 
.del_mon_sup_box:nth-child(1) {
    margin-left:0px;
}


#del {
    background-color:#2c2c2c;
}

#mon {
    background-color: rgba(89,11,133,.75);
}

#sup {
    background-color:rgba(135, 220, 189, .90);
}

.icon_model {
    width:50px;
    height:50px;
    margin:0 auto 10px;
}

.del_mon_sup_box h3 {
    margin-bottom: 20px;
}

.del_mon_sup_box p {
    padding:0px 30px;
    margin-bottom: 0;
}

/********** END DELIVERY MONEY BACK & 24/7 SUPPORT SECTION **********/

/********** NEWSLETTER SECTION **********/

#join {
    padding:80px 0px;
    clear:both;
    background-image:url(../images/newsletter_bg.jpg);
    margin:0;
    box-shadow: inset 0px 0px 150px #444;
}

#join_container {
    max-width: 760px;
    text-align: center;
    color:#fff;
    margin:auto;
    text-shadow: 0px 0px 10px #888;
}

#join_container h1 {
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
    padding:0 40px;
}

#join_container p {
    margin: 20px;
    padding: 0px 20px;
}

#join_container form {
    max-width: 400px;
    margin: auto;
    padding:20px;
}

#join_container input {
    max-width:400px;
    width:100%;
    background-color:#eaeaea;
    padding:15px;
    text-align: center;
    margin:0;
    border: none;;
    font-weight: 100;
    color:rgba(0, 0, 0, .90);
    font-size: 20px;
}

#join_container button {
    padding:10px 15px;
    background-color:rgba(135, 220, 189, .90);
    color:#fff;
    border:none;
    margin-top: 20px;
}

#join_container button:hover {
    transition: 1s ease;
    opacity: .9;
    background-color:rgba(0,0,0,.90);
}

/********** END NEWSLETTER SECTION **********/

/********** FOOTER **********/

#footer {
    background-image:url(../images/footer_bg.jpg);
    padding:80px 0px 0px;
    clear: both;
}

#footer:after {
    content: "";
    display: block;
    clear:both;
}

#footer_container {
    max-width:1028px;
    margin:0 auto 80px;
    color:#fff;
}

.footer_info {
    float:left;
    width:33.33%; 
    padding-right: 40px;
    padding-left:40px
}

.footer_container ul li {
    list-style: none;
}

.footer_info a:link {
    color:#fff;
    text-decoration: none;
}

.footer_info a:visited {
    color:#fff;
    text-decoration: none;
}

.footer_info a:hover {
    color:rgba(135, 220, 189, .90);
}

.footer_info h3 { 
    margin-bottom: 20px;
}

#bottom_footer {
    clear:both;
    margin-top:80px;
    background-color:rgba(89,11,133,.75);
    padding:10px 0px;
}

#bottom_footer_container {
    max-width: 1028px;
    margin:auto;
}

#copyright {
    padding:0 40px;
    font-size: 11px;
    color:#fff;
}

#copyright a:link {
    text-decoration: none;
    color:rgba(135, 220, 189, .98);
}

#copyright a:visited {
    text-decoration: none;
    color:rgba(135, 220, 189, .98);
}

#copyright a:hover {
    text-decoration: none;
    color:#000;
}

#footer_logo {
    margin: 0 auto 20px;
}

#soc {
    text-align: center;
    max-width: 300px;
    margin:auto;
    padding-bottom: 80px;
}

#soc p {
    margin-bottom: 10px;
    font-weight: bold;
}

#soc ul li {
    display: inline;
    margin:5px;
    padding:5px;
    font-weight: bold;
}

#soc ul li a:hover {
    opacity: .4;
}
/********** END FOOTER **********/

/********** CONTACT SECTION **********/

#contact{
    padding:80px 0px 100px;
}

#contact_container{
    max-width: 1028px;
    margin:auto;
    text-align: center;
}

#contact p {
    max-width: 600px;
    margin:10px auto 0px;
}

#contact form {
    max-width: 640px;
    margin: 40px auto 0;
    padding:40px 30px 80px 30px;
    border: none;
    box-shadow: 0px 0px 6px #ddd;
    background-color:#fff;
}

#contact input {
    padding:15px;
    float:left;
    margin:auto;
    margin-bottom: 20px;
    width:270px;
    margin-right: 10px;
    margin-left: 10px;
    background-color:#eaeaea;
    color:#2c2c2c;
    border: none;
}

#contact #form_input {
    width: 658px;
    margin: auto;
    
}

#contact textarea {
    width: 560px;
    height:200px;
    padding:15px;
    margin-bottom: 15px;
    border: none;
    background-color:rgba(0,0,0,.03);
    background-color:#eaeaea;
}

#contact button {
    padding:10px 15px;
    float: left;
    margin-left:10px;
    border:none;
    background-color:rgba(135, 220, 189, .98);
    color:#fff;
}

#contact button:hover {
    transition: 1s ease;
    opacity: .9;
    background-color:rgba(0,0,0,.90);
}

/********** END CONTACT SECTION **********/

/********** ABOUT SECTION **********/

#about {
    padding:80px 0px 100px;
}

#about_container {
    max-width: 1028px;
    margin:auto;
    text-align: center
}

#about h1 {
    border-bottom: 1px solid #eee; 
    padding-bottom: 15px; 
    margin:auto; 
    margin-bottom: 20px; 
    width:300px;
}

#about h2 {
    width:100%;
}

#about p {
    padding:40px; 
    max-width: 700px; 
    margin:20px auto; 
    text-align: left; 
    background-color: #fcfcfc;
    box-shadow: 0px 0px 6px #ddd;
}

#owner {
    padding:40px; 
    max-width: 700px; 
    margin: 30px auto 0; 
    text-align: left; 
    background-color: #fcfcfc;
    box-shadow: 0px 0px 6px #ddd;
}

#about img {
    float: left; 
    width:100px;
}

#owner p {
    margin-left: 130px;
    padding:0;
    box-shadow: 0px 0px 0px #fff;
}

#shop_btn_04 {
    margin:0;
    margin-top: 20px;
    border: none;
    background-color:rgba(135, 220, 189, .90);
    padding:15px 0px;
}

#shop_btn_04 a:link {
    padding:15px 20px;
    color:#fff;
    text-decoration: none;
    
}

#shop_btn_04 a:visited {
    color:#fff;
    text-decoration: none;
}

#shop_btn_04 a:hover {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: .9;
    background-color:rgba(0,0,0,.90);
}


/********** END ABOUT SECTION **********/

/********** PRODUCT_001, PRODUCT_002 SECTION **********/

#product_section {
    background-color:#eaeaea;
}

#product_section:after {
    content: "";
    display: block;
    clear: both;
}

#product_section_container {
    max-width: 1028px;
    margin:30px auto;
    padding-bottom: 30px;
}

#product_section_container:after {
    content: "";
    display: block;
    clear: both;
}

#product_view {
    float:left;
    margin:30px; 
    max-width: 500px;
}

#product_view h2 {
    color: #4a4a4a;
    margin-bottom: 30px;
}

#product_img {
    max-width:400px;
    padding:40px;
    background-color:#fff;
    box-shadow: 0px 0px 6px #ddd;
}

#product_img #product_large_001 {
    width:100%;
    max-width:318px;
}

#mini_product {
    max-width:400px;
    width:100%;
    margin-top: 10px;
}

.box_pos {
    float:left;
    padding:10px;
    margin-right: 15px;
    
    box-shadow: 0px 0px 6px #ddd;
    background-color:#fff;
}

.grid-container {
    display: grid;
}

.item1 {
    grid-column: 1 /span 1;
    grid-row: 1;
}

.item2 {
    grid-column: 2 /span 1;
    grid-row: 1;
}

.item3 {
    grid-column: 1 /span 1;
    grid-row: 2;
}

.item4 {
    grid-column: 2 /span 1;
    grid-row: 2;
}

.item5 {
    grid-column: 3 /span 1;
    grid-row: 2;
}

#right_pos{
    margin:0;
}

.box_pos img {
    max-width:55px;
    width:100%;
    
}

.intro_product2 {
    padding:20px;
}

#product_info {
    max-width:500px;
    float:right;
    margin:30px;
}

#product_info h1 {
    font-size: 70px;
    color:#4e4e4e;
    margin:50px 0 20px;
}

#item_title, #color_pick_title, #quantity_container h3 {
    font-size: 24px;
}

#product_info p {
    padding:5px 0px;
    font-size: 14px;
}

#add_buy_btn {
    
}

#color_pick_container {
    margin-top:40px;
}

#color_container {
    padding:5px 20px 5px 0px;
    font-size:11px;
}

#color_container span {
    vertical-align: bottom;
}

#quantity_container {
    clear: both;
    margin-top:50px;
    margin-bottom: 53px;
}

.color {
    width:30px;
    height: 30px;
    margin-right:10px;
    float:left;
}

#red_box {
    background-color:red;
}

#blue_box {
    background-color:blue;
}

#green_box {
    background-color:green;
}

#black_box {
    background-color:black;
}

#pink_box {
    background-color:pink;
}

#purple_box {
    background-color:purple;
}

#quantity_container ul {
    margin: 10px 0px 0px 0px;
    
}

#quantity_container li {
    float:left;
}

.count_btn {
    background-color:aquamarine;
    padding:7px 20px 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #eee;
}

#count {
    padding:7px 20px 10px;
    text-align: center;
    background-color:#fff;
    border: 1px solid #eee;
    margin:0px 10px;
}

.prod_add_btn, #buy_btn {
    border:none;
    margin-top:60px;
    background:none;
}

.prod_add_btn a:link, #buy_btn a:link {
    background-color:rgba(135, 220, 189, .90);
    color:#fff;
    text-decoration: none;
    padding:10px 20px;
}

.prod_add_btn a:visited, #buy_btn a:visited {
    color:#fff;
    text-decoration: none;
}

.prod_add_btn a:hover, #buy_btn a:hover {
    background-color:rgba(0,0,0,.90);
    transition: .3s ease;
    opacity: .9;
}

/********** END PRODUCT_001, PRODUCT_002 SECTION **********/

/********** LOGIN SECTION **********/

#login {
    padding:80px 0px 100px;
}

#login_container {
    max-width: 1028px;
    margin:auto;
    padding:20px;
}

#login h2 {
    margin-bottom: 20px;
    text-align: center;
}


#login p {
    margin:10px 10px;
}

#login form {
    max-width: 640px;
    margin: auto;
    padding:50px 40px 40px 40px;
    border: none;
    box-shadow: 0px 0px 6px #ddd;
    background-color:#fff;
    margin-top:20px; 
}

#login input {
    padding: 15px;
    float: left;
    margin: auto;
    margin-bottom: 20px;
    max-width: 260px;
    width: 50%;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #eaeaea;
    color: #2c2c2c;
    border: none;
}

#login #form_input {
    max-width: 658px;
    margin: auto;
    
}

#login button {
    padding:10px 15px;
    margin-left:10px;
    background-color:rgba(135, 220, 189, .98);
    border:none;
    color:#fff;
}


#login button:hover {
    transition: 1s ease;
    opacity: .9;
    background-color:rgba(0,0,0,.90);
}

/********** END LOGIN SECTION **********/

/********** MYCART LOGIN SECTION **********/

#mycart_login {
    padding:80px 20px 100px;
    max-width: 1000px; 
    margin: auto;
}

#mycart_login_container {
    max-width: 750px;
    margin:auto;
    padding-bottom: 340px;
}

#mycart_login h2 {
}

#mycart_login p {
    max-width: 600px;
    margin:10px 0px 0px;
}

#mycart_login form {
    max-width: 370px;
    padding:40px;
    background-color:#fff; 
    border:1px solid #ddd; 
    margin-top:20px;
    float:left;
    box-shadow: 0px 0px 6px #ddd;
}

#mycart_login input {
    padding:15px;
    float:none;
    margin-bottom: 20px;
    width:100%;
    max-width: 290px;
    background-color:#eaeaea;
    color:#2c2c2c;
    border: none;
    display: block; 
}

#mycart_login #form_input {
    margin: auto;
    
}

#mycart_login button {
    padding:10px 15px;
    float: none;
    border:none;
    background-color:rgba(135, 220, 189, .98);
    color:#fff;
    cursor: pointer;
}

#mycart_login button:hover {
    transition: 1s ease;
    opacity: .9;
    background-color:rgba(0,0,0,.90);
}

#mycart_login_container2 {
    float:left; 
    margin-left:460px;  
    margin-top: -200px; 
    
}

#mycart_login_container2 button {
    font-size: 20px; 
    text-decoration: none; 
   
    background-color:rgba(135, 220, 189, .98);
}

#mycart_login_container2 button a:link {
    color:#fff; 
    text-decoration: none;
    padding:30px 15px;
}

#mycart_login_container2 button a:visited {
    color:#fff; 
    text-decoration: none; 
}

/********** END MYCART LOGIN SECTION **********/

/********** CREATE ACCOUNT SECTION **********/

#create_account {
    padding:40px 20px 50px;
}

#create_account_container {
    max-width: 1028px;
    margin:auto;
    text-align: center
}

#create_account h2 {
    margin-bottom: 20px;
    text-align: center;
}

#create_account p {
    margin:10px 15px;
}

#create_account form {
    max-width: 660px;
    margin: auto;
    background-color:#fff; 
    border:1px solid #ddd; 
    margin-top:20px; 
    padding:40px 30px 30px 30px;
    box-shadow: 0px 0px 6px #ddd;
}

#create_account input {
    padding:15px 10px;
    float:left;
    margin:auto;
    margin-bottom: 20px;
    max-width:279px;
    width:50%;
    margin-right: 10px;
    margin-left: 10px;
    background-color:#eaeaea;
    color:#2c2c2c;
    border: none;
    
}

#create_account #form_input {
    max-width: 658px;
    margin: auto;
    
}

#create_account button {
    text-align: center;
    padding:10px 15px;
    margin-left:10px;
    border:none;
    background-color:rgba(135, 220, 189, .98);
    color:#fff;
}

#create_account button:hover {
    transition: 1s ease;
    opacity: .9;
    background-color:rgba(0,0,0,.90);
}

/********** END CREATE ACCOUNT SECTION **********/

/********** NEWSLETTER PAGE SECTION **********/

#newsletter {
    padding:100px 0px;
    clear:both;
    
}

#newsletter_container {
    max-width: 760px;
    text-align: center;
    margin:auto;
}

#newsletter_container h1 {
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
    color:#444;
}

#newsletter_container p {
    margin-bottom: 40px;
    margin-top:20px;
    color:#444; 
}

#newsletter_container input {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    height: 30px;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    border: none;
    font-weight: bold;
    color: rgba(31, 31, 31, 1);
    font-size: 20px;
}

#newsletter_container ::placeholder {
    color:#aaa;
}

#newsletter_container button {
    padding: 10px 0px;
    background-color: rgba(135, 220, 189, .90);
    color: #fff;
    border: none;
    clear: both;
    display: block;
    margin: 20px auto;
}


#newsletter_container button a:link {
    color:#fff;
    text-decoration: none;
    padding:10px 15px;
    
}

#newsletter_container button a:visited {
    color:#fff;
    text-decoration: none;
}

#newsletter_container button a:hover {
    transition: 1s ease;
    opacity: .9;
    background-color:rgba(0,0,0,.90);
}

/********** END NEWSLETTER PAGE SECTION **********/

/********** FORM EXTRAS SECTION **********/

.uname:link, .pass:link, .cacco:link, .login:link {
    color:rgba(100, 180, 160, 1);  
    text-decoration: none;
}

.uname:visited, .pass:visited, .cacco:visited, .login:visited {
    color:rgba(100, 180, 160, 1);  
    text-decoration: none;
}

.uname:hover, .pass:hover, .cacco:hover, .login:hover {
    color:rgba(100, 180, 160, .4);
    opacity: .9;
    text-decoration: none;
}
/********** END FORM EXTRAS SECTION **********/

/********** MY ACCOUNT PAGE **********/

#menu_btn {
    width:500px;
    margin:auto;
}

#menu_btn ul li {
    display: inline;
    margin:30px;
    color:#2c2c2c;
    text-decoration: none;
}

#menu_btn ul li:a link {
    text-decoration: none;
    color:#2c2c2c;
}

#menu_btn ul li:a visited {
    text-decoration: none;
    color:#2c2c2c;
}

#menu_btn ul li:a hover {
    text-decoration: none;
}

#myaccount {
    padding:80px 0px 100px;
}

#myaccount_container {
    max-width: 1028px;
    margin:auto;
    text-align: center
}

#myaccount h2 {
    border-bottom: 1px solid #eee; 
    padding-bottom: 15px; 
    margin:auto;
    margin-bottom: 20px; 
    width:370px;
}

#myaccount p {
    padding:40px; 
    max-width: 700px; 
    margin:20px auto; 
    text-align: left; 
    background-color: #fcfcfc;
    box-shadow: 0px 0px 6px #ddd;
}

/********** END MY ACCOUNT PAGE **********/

/********** FORGET PASSWORD PAGE **********/

#forgotpass {
    padding:80px 0px 100px;
}

#forgotpass_container {
    max-width: 1028px;
    margin:auto;
}

#forgotpass h2 {
    margin-bottom: 20px;
    text-align: center;
}


#forgotpass p {
    margin:10px 0px;
    clear:both;
}

#forgotpass form {
    max-width: 550px;
    margin: auto;
    padding:30px 40px 40px 40px;
    border: none;
    box-shadow: 0px 0px 6px #ddd;
    background-color:#fff;
    margin-top:20px; 
}

#forgotpass input {
    padding: 10px;
    margin-bottom: 20px;
    max-width: 470px;
    width: 100%;
    background-color: #eaeaea;
    color: #2c2c2c;
    border: none;
}

#forgotpass #form_input {
    max-width: 658px;
    margin: auto;
    width:100%;
    
}

#forgotpass button {
    padding: 10px 15px;
    display: block;
    max-width: 100px;
    width: 100%;
    background-color: rgba(135, 220, 189, .98);
    border: none;
    color: #fff;
}

#forgotpass button:hover {
    transition: 1s ease;
    opacity: .9;
    background-color:rgba(0,0,0,.90);
}

/********** END FORGET PASSWORD PAGE **********/

/********** EMAIL SUCCESS PAGE **********/

#e_success {
    padding:80px 0px 80px;
}

#e_success_container {
    max-width: 1028px;
    margin:auto;
    text-align: center
}

#e_success h1 {
    border-bottom: 1px solid #eee; 
    padding-bottom: 15px; 
    margin:auto; 
    margin-bottom: 20px; 
    width:300px;
}

#e_success p {
    padding:40px; 
    max-width: 700px; 
    margin:20px auto; 
    text-align: left; 
    background-color: #fcfcfc;
    box-shadow: 0px 0px 6px #ddd;
}


/********** END EMAIL SUCCESS PAGE **********/

/********** SHOPPING CART **********/

#tulle_cart {
    position:fixed;
    top: 0;
    right: 0;
    padding:1px 25px 30px;
    background-color: rgba(255,255,255,9.6);
    z-index: 999;
}

#see_cart {
    position:fixed;
    top: 0;
    right: 0;
    padding:10px 15px;
    background-color:rgba(89,11,133,.75);
    z-index: 998;
    color:#fff;
    cursor: pointer;
}

#hide_cart {
    margin-top:20px;
    cursor: pointer;
}

#show_cart li {
    padding:15px 0;
    border-bottom: 1px solid #eee;
}

#show_cart li button {
    padding:0px 8px 2px;
    text-align: center;
    background-color:rgba(135, 220, 189, .90);
    border:none;
    color:#fff;
    margin-left: 5px;
    border-radius: 3px;
    font-weight: bold;
}

#show_cart li button:hover {
   opacity: .8;
}

#clear_cart {
    margin-top: 20px;
    padding:5px 10px;
    border-bottom: 1px solid #444;
    border:none;
    background-color:crimson;
    color:#fff;
}

#clear_cart:hover, #hide_cart:hover, #see_cart:hover {
   opacity: .8;
}

#checkout {
    margin-top: 20px;
    padding:5px 10px;
    border-bottom: 1px solid #444;
    border:none;
    background-color:rgba(89,11,133,.75);
    color:#fff;
}

#checkout:hover {
   opacity: .8;
}


/********** END SHOPPING CART **********/
